.advantage {
  background-color: var(--basic-white);
}

.advantage__header-wrapper {
  margin: 32px auto 16px;
  width: 282px;
}

@media (min-width: @tablet-width) {
  .advantage__header-wrapper {
    margin: 47px auto 56px;
    width: 520px;
  }
}

@media (min-width: @desktop-width) {
  .advantage__header-wrapper {
    margin: 59px auto 45px;
    width: 483px;
  }
}

.advantage__header-title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 35px;
}

.advantage__header-intro {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}

.advantage__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantage-item__first {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .advantage-item--main {
    display: flex;
    width: 100%;
  }

  .advantage-tips-list {
    display: flex;
  }

  .advantage-item__second {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.advantage-item {
  background-color: var(--basic-grey);
  outline: 2px solid rgb(243, 243, 11);
  offset: -2px;
  box-sizing: border-box;
  min-height: 167px;
}

@media (min-width: @tablet-width) {
  .advantage-item {
    min-height: 256px;
  }
}

.advantage-item--main {
  background-color: var(--basic-blue);
}

.advantage-item__wrapper {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 22px;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantage-item__title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
}

.advantage-item__title--main {
  color: var(--basic-white);
}

.advantage-item__list {
  display: block;
  position: relative;
  margin: 11px auto 17px;
  outline: 2px solid yellow;
  offset: -2px;
}

.advantage-item__list--main {
  color: var(--basic-white);
}

.advantage-item__list--main::before {
  display: block;
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: var(--basic-white);
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

.advantage-item__list--main::after {
  display: block;
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: var(--basic-white);
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}

.advantage-item__list--secondary {
  color: var(--basic-black);
}

.advantage-item__list--secondary::before {
  display: block;
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: var(--basic-black);
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
}

.advantage-item__list--secondary::after {
  display: block;
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: var(--basic-black);
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}

.advantage-item__description {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  text-transform: uppercase;
  color: var(--basic-black-light);
}

.advantage-item__description--main {
  color: var(--basic-white);
}

.advantage-item__image--city {
  background-image: url(../../img/photo-city.mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .advantage-item__image--city {
    background-image: url(../../img/photo-city-tablet.png);
    width: 100%;
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantage-item__image--city {
    background-image: url(../../img/photo-city-desktop.png);
    width: 100%;
    height: 256px;
  }
}

.advantage-tips-list {
  background-color: var(--basic-white);
  outline: 3px solid rgb(243, 92, 11);
  offset: -3px;
  padding: 0;
}

.advantage-tips-list__item {
  outline: 3px solid rgb(235, 243, 11);
  offset: -3px;
  padding-top: 30px;
  padding-left: 65px;
  position: relative;
}

.advantage-tips-list__item:nth-child(1)::before {
  position: absolute;
  content: "";
  background-image: url(../../img/icon-house-mobile.svg);
  top: 25px;
  left: 18px;
  width: 39px;
  height: 37px;
}

.advantage-tips-list__item:nth-child(2)::before {
  position: absolute;
  content: "";
  background-image: url(../../img/icon-burger-mobile.svg);
  top: 25px;
  left: 18px;
  width: 40px;
  height: 35px;
}

.advantage-tips-list__item:nth-child(3)::before {
  position: absolute;
  content: "";
  background-image: url(../../img/icon-gift-mobile.svg);
  top: 25px;
  left: 18px;
  width: 32px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .advantage-tips-list__item {
    display: flex;
    flex-direction: column;
    padding-top: 158px;
    padding-left: 0;
    padding-bottom: 59px;
    text-align: center;
    width: calc(100%/3);
  }

  .advantage-tips-list__item:nth-child(1)::before {
    position: absolute;
    content: "";
    background-image: url(../../img/icon-house-tablet-desktop.svg);
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 72px;
  }

  .advantage-tips-list__item:nth-child(2)::before {
    position: absolute;
    content: "";
    background-image: url(../../img/icon-burger-tablet-desktop.svg);
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 76px;
    height: 68px;
  }

  .advantage-tips-list__item:nth-child(3)::before {
    position: absolute;
    content: "";
    background-image: url(../../img/icon-gift-tablet-desktop.svg);
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 75px;
  }
}

.advantage-tips-list__item-title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);

}

.advantage-tips-list__item-text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black-light);
  margin: 0;
  padding-top: 16px;
}

.advantage-item__image--bridge {
  background-image: url(../../img/photo-bridge-mobile.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .advantage-item__image--bridge {
    background-image: url(../../img/photo-bridge-tablet.png);

    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .advantage-item__image--bridge {
    background-image: url(../../img/photo-bridge-desktop.png);
    width: 100%;
    height: 256px;
  }
}
