.booking {
  outline: 2px solid rgb(42, 157, 165);
}

.booking__title {
  font-size: var(--size-L);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-M);
  text-transform: uppercase;
  color: var(--basic-black);
}

.booking__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  text-transform: uppercase;
  color: var(--basic-black-light);
}
