.button {
  font-family: var(--pt-sans);
  font-size: var(--size-L);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-M);
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  outline: 2px solid rgb(242, 74, 194);
}
