.form {
  outline: 2px solid rgb(61, 247, 228);
}

.form__title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.form__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black-light);
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form__wrapper-contact {
    display: flex;
  }

  .form__wrapper-user {
    flex-grow: 1;
  }
}

.form__label {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black-light);
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.form__input {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  background-color: var(--basic-grey-light);
  border: none;
  width: 280px;
  height: 58px;
}

.form__input-text-black {
  color: var(--basic-black);
  font-weight: var(--font-weight-bold);
}

.form__input-text-grey {
  color: var(--basic-grey-opacity);
  font-weight: var(--font-weight-bold);
}

@media (min-width: @tablet-width) {
  .form__input-radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .form__input-radio-wrapper {
    flex-wrap: nowrap;
  }
}

.form__label-radio {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
}

@media (min-width: @tablet-width) {
  .form__label-radio {
    width: calc(100% / 2);
  }
}

@media (min-width: @desktop-width) {
  .form__label-radio {
    width: calc(100% / 3);
  }
}

@media (min-width: @tablet-width) {
  .form__input-checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .form__input-checkbox-wrapper {
    flex-wrap: nowrap;
  }
}

.form__label-checkbox {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
}

@media (min-width: @tablet-width) {
  .form__label-checkbox {
    width: calc(100% / 2);
  }
}

@media (min-width: @desktop-width) {
  .form__label-checkbox {
    width: calc(100% / 3);
  }
}

.form__input-textarea {
  background-color: var(--basic-grey-light);
  width: 279px;
  height: 150px;
  outline: none;
  border: none;
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
}

@media (min-width: @tablet-width) {
  .form__input-textarea {
    width: 648px;
    height: 160px;
  }
}

@media (min-width: @desktop-width) {
  .form__input-textarea {
    width: 768px;
    height: 160px;
  }
}

@media (min-width: @tablet-width) {
  .form__submit-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
  }
}

.form__submit {
  max-width: 281px;
  height: 58px;
}

@media (min-width: @tablet-width) {
  .form__submit {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .form__submit {
    width: 384px;
  }
}
