.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__item {
  box-sizing: border-box;
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .gallery__item {
    padding: 24px 20px 0;
    border-top: 1px solid #e5e5e5;
  }
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: calc(100% / 2);
  }
}

@media (min-width: @desktop-width) {
  .gallery__item {
    width: calc(100% / 3);
  }
}

.gallery__item-main {
  width: 100%;
}

.gallery__item-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .gallery__item-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px 15px;
  }

  .gallery__item-wrapper--left {
    background-color: var(--basic-grey-light);
  }

  .gallery__item-wrapper--right {
    background-color: #eaeaea;
  }
}

@media (min-width: @desktop-width) {
  .gallery__item-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 22px 20px 15px;
    width: 100%;
    color: var(--basic-white);
  }

  .gallery__item-wrapper--left {
    background-color: initial;
  }

  .gallery__item-wrapper--right {
    background-color: initial;
  }

  .gallery__item-wrapper::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--basic-black);
    opacity: 0.3;
    z-index: 0;
  }

  .gallery__title-wrapper,
  .gallery__like-wrapper {
    z-index: 1;
  }
}

.gallery__title {
  font-size: var(--size-S);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-S);
  text-transform: uppercase;
}

.gallery__author {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  padding-bottom: 12px;
  margin: 0;
}

.gallery__like-wrapper {
  display: flex;
  align-items: flex-end;
}

.gallery__like-button {
  background-image: url("../img/icon-like-mobile-tablet.svg");
  width: 23px;
  height: 21px;
  background-color: transparent;
  border: none;
}

.gallery__like-count {
  font-size: var(--size-S);
  line-height: 1em;
  font-weight: var(--font-weight-bold);
  display: block;
  padding-left: 14px;
}

.gallery__photo {
  width: 100%;
  display: block;
}

@media (min-width: @tablet-width) {
  .gallery__author {
    padding: 0;
  }

  .gallery__like-wrapper {
    transform: translate(1px, -5px);
  }
}

@media (min-width: @desktop-width) {
  .gallery__like-button {
    background-image: url("../img/icon-like-desktop.svg");
  }

  .gallery__like-count {
    padding-left: 9px;
  }
}
