.main-header {
  padding-bottom: 390px;
  background-image: url("../img/sedona-main-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;
  background-color: rgba(78, 172, 240, 0.39);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sedona-main-mobile@2x.jpg");
    background-size: 900px auto;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    background-image: url("../img/sedona-main-dekstop.png");
    padding-bottom: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sedona-main-dekstop@2x.png");
      background-size: 1200px auto;
    }
  }
}

.main-header--regular {
  padding-bottom: 158px;
}

@media (min-width: @tablet-width) {
  .main-header--regular {
    padding-bottom: 290px;
  }
}

@media (min-width: @desktop-width) {
  .main-header--regular {
    padding-bottom: 300px;
  }
}
