.main-header {
  outline: 2px solid rgb(42, 165, 58);
}

.main-header__logo {
  margin: var(--margin-center);
  height: 96px;
  width: 185px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
