.modal {
  outline: 2px solid rgb(247, 61, 61);
}

.modal__title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
}

.modal__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black-light);
  text-transform: uppercase;
}
