.modal__button {
  font-size: var(--size-M);
}

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal-background::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: var(--basic-black);
  opacity: 0.3;
  z-index: 3;
}

.modal-background--open {
  display: block;
}

.modal {
  position: fixed;
  background-color: var(--basic-white);
  z-index: 4;
}

.modal--error {
  box-sizing: border-box;
}

.modal--correct {
  box-sizing: border-box;
}

.modal__title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.modal__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black-light);
  text-transform: uppercase;
  text-align: center;
}

.modal--error .modal__text {
  margin-top: 26px;
}

.modal__button-error {
  padding: 0;
  margin: 0 auto;
}

.modal__button-correct-wrapper {
  background-color: var(--basic-grey-light);
  box-sizing: border-box;
}

.modal__button-correct {
  padding: 0;
  margin: 0 auto;
}

@media (max-width: @mobile-width-only) {
  .modal--error {
    width: 320px;
    padding: 45px 41px 35px;
    top: 116px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal--error .modal__text {
    margin-bottom: 28px;
  }

  .modal__button-error {
    width: 180px;
  }

  .modal--correct {
    width: 320px;
    padding: 39px 37px 30px;
    top: 401px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal--correct .modal__text {
    margin-top: 26px;
    margin-bottom: 50px;
  }

  .modal__button-correct-wrapper {
    margin-right: -37px;
    margin-left: -37px;
    padding: 20px 20px;
  }

  .modal__button-correct {
    width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .modal__button {
    font-size: var(--size-L);
  }

  .modal--error {
    width: 400px;
    padding: 52px 46px 49px;
    top: 283px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal__title {
    font-size: 30px;
    line-height: 36px;
  }

  .modal__button-error {
    width: 272px;
  }

  .modal--error .modal__text {
    margin-bottom: 47px;
  }

  .modal--correct {
    width: 640px;
    padding: 48px 97px 0;
    min-height: 347px;
    top: 162px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal--correct .modal__text {
    margin-bottom: 53px;
    margin-top: 20px;
  }

  .modal__button-correct-wrapper {
    margin-right: -97px;
    margin-left: -97px;
    padding: 44px 91px;
  }

  .modal__button-correct {
    width: 458px;
  }
}

@media (min-width: @desktop-width) {
  .modal--correct .modal__text {
    margin-top: 24px;
  }

  .modal--error {
    top: 244px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal--correct {
    padding-top: 46px;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
  }
}
