.photo {
  outline: 2px solid rgb(243, 243, 11);
}

.photo__title {
  font-size: var(--size-L);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
}

.photo__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black);
  text-transform: uppercase;
}
