.social {
  outline: 2px solid rgb(238, 43, 212);
}
.social__title {
  font-family: var(--pt-sans);
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
}
.social__item {
  background-color: var(--basic-blue);
  outline: 2px solid rgb(61, 247, 228);
  list-style: none;
}
.social__copyright__text {
  font-family: var(--pt-sans);
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black);
}
