.video {
  padding: 0 20px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .video {
    border-top: none;
    padding: 0 60px;
  }
}

@media (min-width: @desktop-width) {
  .video {
    padding: 0;
  }
}

.video__title-wrapper {
  margin: 17px 8px 38px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .video__title-wrapper {
    margin: 58px 100px 66px;
  }
}

@media (min-width: @desktop-width) {
  .video__title-wrapper {
    margin: 62px 377px 64px;
  }
}

.video__title {
  font-size: var(--size-M);
  line-height: var(--line-height-M);
  font-weight: var(--font-weight-bold);
  color: var(--basic-black);
  text-transform: uppercase;
}

.video__text {
  font-size: var(--size-S);
  line-height: var(--line-height-S);
  color: var(--basic-black);
  text-transform: uppercase;
}
