.welcome-title__sedona--mobile {
  position: absolute;
  top: 231px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-title__sedona--tablet {
  position: absolute;
  top: 271px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: @tablet-width) {
  .welcome-title__sedona--mobile {
    display: none;
  }

  .welcome-title__sedona--tablet {
    display: block;
  }
}

.welcome-title__welcome--mobile {
  position: absolute;
  top: 148px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-title__welcome--tablet {
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: @tablet-width) {
  .welcome-title__welcome--mobile {
    display: none;
  }

  .welcome-title__welcome--tablet {
    display: block;
  }
}

.welcome-title__gorgeus--mobile {
  position: absolute;
  top: 184px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-title__gorgeus--tablet {
  position: absolute;
  top: 194px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: @tablet-width) {
  .welcome-title__gorgeus--mobile {
    display: none;
  }

  .welcome-title__gorgeus--tablet {
    display: block;
  }
}

.welcome-title__slogan--mobile {
  position: absolute;
  top: 408px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-title__slogan--tablet {
  position: absolute;
  top: 411px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: @tablet-width) {
  .welcome-title__slogan--mobile {
    display: none;
  }

  .welcome-title__slogan--tablet {
    display: block;
  }
}

.welcome-title__sedona-recular--mobile {
  position: absolute;
  top: 108px;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-title__sedona-recular--tablet {
  position: absolute;
  top: 153px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

@media (min-width: @tablet-width) {
  .welcome-title__sedona-recular--mobile {
    display: none;
  }

  .welcome-title__sedona-recular--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .welcome-title__sedona-recular--tablet {
    top: 162px;
  }
}
