// Начните писать стили здесь
@import "blocks/page-body.less";
@import "blocks/header.less";
@import "blocks/site-list.less";
@import "blocks/advantage.less";
@import "blocks/variables.less";
@import "blocks/booking.less";
@import "blocks/social.less";
@import "blocks/button.less";
@import "blocks/form.less";
@import "blocks/modal.less";
@import "blocks/photo.less";
@import "blocks/gallery.less";
@import "blocks/video.less";
@import "blocks/page.less";
@import "blocks/main-nav.less";

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsansbold.woff") format("woff");
}

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
